@tailwind base;
@tailwind components;
@tailwind utilities;


.quicksand-g {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.playwrite {
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.growtesk {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}